version: '3.5'

networks:
  internal_UJJigBWx:
    driver: bridge
    ipam:
      config:
      - subnet: 172.16.238.0/24
      driver: default

services:
  postgres_adva:
    image: postgres:11.2
    container_name: postgres_adva
    restart: always
    environment:
      POSTGRES_PASSWORD: example
    networks:
      internal_UJJigBWx:
        ipv4_address: 172.16.238.2
    volumes:
      - ../db:/var/lib/postgresql/data
      - ./postgresql.conf:/etc/postgresql/postgresql.conf
    ports:
      - 5432:5432


  adminer:
    image: adminer
    container_name: adminer_adva
    restart: always
    environment:
      - ADMINER_DEFAULT_SERVER=172.16.238.2
    ports:
      - 8080:8080
    networks:
      internal_UJJigBWx:
        ipv4_address: 172.16.238.4

        
  dev:
    container_name: nestjs_api_dev
    image: nestjs-api-dev:1.0.0
    build:
      context: .
      target: development
      dockerfile: ./Dockerfile
    command: npm run start:debug
    ports:
      - 3000:3000
      - 9229:9229

    environment:
      - WAIT_HOSTS=postgres_adva:5432
      - WAIT_HOSTS_TIMEOUT=300
      - WAIT_SLEEP_INTERVAL=10
      - WAIT_HOST_CONNECT_TIMEOUT=30
    networks:
      internal_UJJigBWx:
        ipv4_address: 172.16.238.3
    depends_on:
      - postgres_adva
    links:
      - postgres_adva
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    restart: unless-stopped
